= render 'shared/side_bar'
.chat-main
  .chat-main__top
    .group-name
      =@group.name
    .edit
      =link_to "edit", edit_group_path(@group)
    .group-member
      member name
  .chat-main__middle
    .chat-main__middle--messages
      = render @messages
  .chat-main__under
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'text_area', placeholder: 'type a message'
        = f.submit 'Send', class: 'send'
        = f.label :image, class:'icon' do
          = fa_icon 'camera', class: 'icon'
          = f.file_field :image, class: 'button'



